table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
    height: 600px;
}

td{
    background-color: bisque;
    width: 200px;
    height: 200px;
    font-size: 90px;
    text-align: center;
    color: white;
}

td:hover{
    background-color: burlywood;
}

.selected{
    background-color: rgb(22, 94, 226);
}
.selected:hover{
    background-color: rgb(22, 94, 226);
}

.tie, .tie:hover{
    background-color: red;
}

.win, .win:hover{
    background-color: green;
}